<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Edit Lane</h4>
  </div>
  <div class="modal-body">
    <form role="form">

      <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Name" data-ng-model="modalLane.name"/>
      </div>

      <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="5" placeholder="Description" data-ng-model="modalLane.description"></textarea>
      </div>

      <input type="hidden" class="form-control" data-ng-model="modalLane.sequenceNumber"/>
      <input type="hidden" class="form-control" data-ng-model="modalLane.boardId"/>

      <div class="form-group">
          <label>Status</label>
          <select class="form-control" data-ng-model="modalLane.status">
              <option value="pending">pending</option>
              <option value="active">active</option>
              <option value="inactive">inactive</option>
              <option value="suspended">suspended</option>
              <option value="deleted">deleted</option>
          </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" id="updateLaneButton" data-ng-click="update(modalLane)">Save Lane</button>
  </div>
</div><!-- /.modal-content -->
